/* Main CSS */
#main-layout {
	height: 1fr;
}

/* Sidebar */
#platform-sidebar {
	width: 30;
	background: $surface-darken-1;
	border-right: solid $border;
	padding: 1;
}

#sidebar-title {
	text-style: bold;
	margin-bottom: 1;
	text-align: center;
	color: $accent;
}

/* Platform Info Section */
#platform-info {
	padding: 1;
	height: 1fr;
}

#roms-table {
	height: 1fr;
	border: solid $border;
	margin-bottom: 1;
}
